.navbar {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    transition:  opacity 0.3s ease;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F18419;
    z-index: 1000;
    padding: 15px;
    opacity: 0.9;
}

.navbar.fixed .navbar-menu {
    color: #2E063B;
}

.navbar.fixed button {
    color: #2E063B;
    border: 1px solid #2E063B;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #F18419;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    color: #F18419;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #2E063B;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 140px;
    }
    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right {
        gap: 30px;
    }
    .navbar-right img {
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }
    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right {
        gap: 20px;
    }
    .navbar-right img {
        width: 20px;
    }
    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }
}